@model DocumentoModel
@{
    ViewData["Title"] = "Tela de Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar Documento</h1>
</div>

<form class="row g-3" asp-controller="Home" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="col-md-6">
        <label class="form-label">Código</label>
        <input type="text" asp-for="Codigo" class="form-control" placeholder="Digite o código do documento.">
    </div>

    <div class="col-md-6">
        <label class="form-label">Data Planejada</label>
        <input type="date" asp-for="DataPlanejada" class="form-control">
    </div>

    <div class="col-12">
        <br />
        <label class="form-label">Título</label>
        <input type="text" asp-for="Titulo" class="form-control" placeholder="Digite o título do documento.">
        <br />
    </div>

    <div class="col-md-6">
        <label class="form-label">Valor (R$)</label>
        <input type="text" asp-for="Valor" class="form-control" placeholder="Digite o valor do documento.">

    </div>

    <div class="col-md-6">
        <label for="inputState" class="form-label">Revisão</label>
        <select class="custom-select" asp-for="Revisao">
            <option value="0">0</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
        </select>
        <br /><br />
    </div>

    <button type="submit" class="btn btn-outline-success btn-block">Alterar</button>
</form>

