@{
    ViewData["Title"] = "Tela de Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar Documento</h1>
</div>

<form class="row g-3">
    <div class="col-md-6">
        <label for="codigo" class="form-label">Código</label>
        <input type="text" class="form-control" placeholder="Digite o código do documento.">
    </div>

    <div class="col-md-6">
        <label for="exampleInputPassword1" class="form-label">Data Planejada</label>
        <input type="date" class="form-control">
    </div>

    <div class="col-12">
        <br />
        <label for="exampleInputPassword1" class="form-label">Título</label>
        <input type="text" class="form-control" placeholder="Digite o título do documento.">
        <br />
    </div>

    <div class="col-md-6">
        <label for="exampleInputPassword1" class="form-label">Valor</label>
        <input type="number" class="form-control" placeholder="Digite o valor do documento.">

    </div>

    <div class="col-md-6">
        <label for="inputState" class="form-label">Revisão</label>
        <select class="select" multiple id="revisao">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
        </select>
    </div>

</form>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button">Cadastrar</button>
</div>




@*<form>
        <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" placeholder="Digite o código do documento.">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Título</label>
            <input type="text" class="form-control" placeholder="Digite o título do documento.">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Revisão</label>
            <br />
            <select class="form-select" multiple aria-label="multiple select example">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Data Planejada</label>
            <input type="date" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="number" class="form-control">
            <span class="input-group-text">,00</span>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button">Cadastrar</button>
        </div>
    </form>*@
